<body>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Message Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
    <p class="navbar-text pull-right"><%= @email %> | <%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
    
  </div>
</div>
  <div class="container">
    <div> <h1> <%=@message %> </h1></div>
  </div>

</body>

